<div class="m-3">
  <h4>People</h4>
  <p>List of all characters with pagination</p>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Homeworld</th>
          <th scope="col">Height</th>
          <th scope="col">Specie</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let people of swapiPeople.results">
          <th scope="row">{{ people.url }}</th>
          <td>{{ people.name }}</td>
          <td>
            <i
              class="fas"
              [ngClass]="{
                'fa-mars': people.gender === 'male',
                'fa-venus': people.gender === 'female',
                'fa-genderless':
                  people.gender === 'none' || people.gender === 'n/a',
                'fa-venus-mars': people.gender === 'hermaphrodite'
              }"
            ></i>
            {{ people.gender }}
          </td>
          <td>{{ people.homeworld.name }}</td>
          <td>{{ people.height }} cm</td>
          <td>{{ people.species.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mb-2 d-inline-block w-100">
    <button
      class="btn btn-outline-primary"
      *ngIf="swapiPeople.previous"
      (click)="people(swapiPeople.previous)"
    >
      <i class="fas fa-arrow-left"></i> Preview Page
    </button>
    <button
      class="btn btn-outline-primary float-right"
      *ngIf="swapiPeople.next"
      (click)="people(swapiPeople.next)"
    >
      Next Page <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</div>
